<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Haikvch Careers</title>
  </head>
  <body>
    <h1>Haikvch Careers</h1>
    <img
      src="https://jovian-careers-website.aakashns.repl.co/static/banner.jpeg"
      alt=""
      height="320px"
    />
    <h2>About Haikvch</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit,
      laudantium, similique expedita, quae eligendi magni aperiam saepe adipisci
      ex quam neque quos provident modi facere officia ipsa? Tempore quia nihil
      explicabo illum architecto fugiat voluptatem pariatur alias itaque
      obcaecati nesciunt sequi facilis veritatis consequatur dolor et eaque
      aliquid, eius adipisci. Praesentium alias, sunt illo nesciunt eius natus
      optio repellendus.
    </p>
    <h2>Open positions</h2>
    <p>TODO - Show the jobs here</p>
    <button>Contact Us</button>
  </body>
</html>
